.advantages {
  position: relative;
  padding: 0;

  @include section-paddings;

  h2 {
    margin: -10px 0 49px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 36px;
    }

    @include vp-767 {
      font-size: 24px;
      margin: -8px 0 30px;
    }
  }

  h3 {
    margin: 0 0 9px;
    font-weight: 500;
    font-size: 18px;

    @include vp-767 {
      margin: 0 37px 6px 0;
    }
  }

  p {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 20px;
  }
}

.advantages__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.advantages__item {
  padding: 30px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 28px 18px 3px;
  }

  @include vp-767 {
    padding: 28px 18px 5px;
  }

  &::before {
    content: "";
    display: block;
    width: 44px;
    height: 32px;
    margin: 0 0 18px;
    background-image: var(--icon);

    @include vp-1023 {
      width: 36px;
      height: 26px;
      margin: 0 0 15px;
    }
  }
}

.advantages__image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $color-solitude;
}
