<div class="firstscreen {{ bemMix }}">
	<div class="container">
		{% include 'page-header.twig' with { bemMix: 'firstscreen__header' } %}

		<section class="firstscreen__promo">
			{{ content }}
		</section>
	</div>
			{% if image %}
		<div class="firstscreen__image">
			{% include 'picture.twig' with { image } %}
		</div>
		{% endif %}
</div>
