<div class="firstscreen {{ bemMix }}">
	{% include 'picture.twig' with { className: 'firstscreen__image', image } %}

	<div class="container">
		{% include 'page-header.twig' with { bemMix: 'firstscreen__header' } %}

		<section class="firstscreen__promo">
			{{ content }}
		</section>
	</div>
</div>
