<section class="map-section" {{ id ? 'id="' ~ id ~ '"' }}>
	<div class="map-section__inner container">

		{% if map %}
			<div class="map-section__map map" id="{{ map.id }}" data-map>
				{% include 'picture.twig' with map.image %}
			</div>
		{% else %}
			{% include 'picture.twig' with image %}
		{% endif %}

		<div class="map-section__iconable">
			{{ content }}
		</div>
	</div>
</section>
